{% extends 'base.html' %}

{% block content %}
<section class="container my-5">
        <h1 class="text-center display-1">Update project</h1>
        <div class="col-md-4 offset-md-4">
          <div class="row">
            <form method="POST" class="card card-body">
              {% csrf_token %}
              <div class="mb-4">
                  <label> Name of project: </label>
                  <input
                    type="text"
                    name="name"
                    value="{{project.name}}"
                    class="form-control"
                    placeholder="write the name of project"
                  />
              </div>
              <div class="mb-3">
                <button class="btn btn-primary">save</button>
              </div>
            </form>
          </div>
        </div>
      </section>
{% endblock %}